<div layout="column">

    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">

        <h2>
          <span>Home Automation</span>
        </h2>
        <span flex></span>

      </div>
    </md-toolbar>
    <br>
    <md-content layout="row">
        <span flex="40"></span>
        <div flex="20">
          <md-list-item ng-repeat="(key, value) in vm.switches">
            <p> {{ value.name }} </p>
            <md-switch ng-disabled="(!value.ip) ? true : false" class="md-secondary" ng-model="value.status" ng-change="vm.toggleSwitch(key)"></md-switch>
          </md-list-item>
        </div>
    </md-content>

</div>